html, body {
    height: 100%;
    width: 100%
}

html {
    font-size: 100%;
}

body {
    color: #8e8e93;
    direction: ltr;
    overflow-x: hidden;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    padding: 0;
    margin: 0;
    background: #f7f7f8;
    -webkit-font-smoothing: antialiased !important;
}

body.bg_style_1 {
    background: url("../images/bg.png") transparent !important;
}
body.bg_style_2 {
    background: url("../images/bg_2.png") transparent !important;
}
body.bg_style_3 {
    background: url("../images/bg_3.png") transparent !important;
}
body.bg_style_4 {
    background: url("../images/bg_4.png") transparent !important;
}
body.bg_style_5 {
    background: url("../images/bg_5.png") transparent !important;
}

::-moz-selection {
    background: #5F8295;
    text-shadow: none;
    color: #ffffff;
}

::selection {
    background: #5F8295;
    text-shadow: none;
    color: #ffffff;
}

a, a:focus, a:hover, a:active {
    outline: 0 !important;
    text-decoration: none !important;
    cursor: pointer;
}

button {
    outline: 0 !important;
}

a {
    color: #007AFF;
}

a:hover, a:focus, a:active {
    color: #004999;
}

h1, h2 {
    font-family: "Raleway", sans-serif;
}

h3, h4, h5 {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5 {
    font-weight: 300;
    margin-top: 0;
    color: #5b5b60;
}
.text-bold h1, h1.text-bold, h1.text-bold,
.text-bold h2, h2.text-bold, h2.text-bold,
.text-bold h3, h3.text-bold, h3.text-bold,
.text-bold h4, h4.text-bold, h4.text-bold,
.text-bold h5, h5.text-bold, h5.text-bold {
    font-weight: 600;
}

h5.over-title {
    font-family: "Lato", sans-serif;
    font-size: 16px;
}

.mainTitle {
    margin: 20px 0;
}
.mainTitle small {
    color: #8e8e93;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 0;
    display: block;
    margin: 10px 0;
}
.mainTitle i {
    font-size: 17px;
}

.ct-callout {
    border-color: #007AFF;
    border-image: none;
    border-radius: 0;
    border-style: solid;
    border-width: 0 0 0 5px;
    margin: 10px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.4);
}

.main-wrapper {
    position: relative;
}
.ajax-white-backdrop {
    background-color: rgba(255, 255, 255, 0.5);
    display: none;
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1049;
}

.ajax-white-background:before {
    background: #000;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    top: 60px;
    left: 50%;
    margin-left: -20px;
    content: "";
    position: absolute;
}

.ajax-white-backdrop:after {
    content: "\f110";
    font-family: FontAwesome;
    width: 40px;
    height: 40px;
    line-height: 40px;
    top: 60px;
    color: #ffffff;
    text-align: center;
    position: absolute;
    left: 50%;
    margin-left: -20px;
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}

@media (min-width: 992px) {
    .app-navbar-fixed {
        padding-top: 65px;
    }
}

#app {
    height: auto;
    min-height: 100%;
    position: relative;
    width: 100%;
    overflow: hidden;
}
#app .app-content {
    height: 100%;
}
#app .app-content:before, #app .app-content:after {
    content: " ";
    display: table;
}
#app .app-content:after {
    clear: both;
}
@media (max-width: 991px) {
    #app {
        width: 100%;
    }
    #app .app-content {
        -moz-transition: -moz-transform 300ms ease 0s;
        -o-transition: -o-transform 300ms ease 0s;
        -webkit-transition: -webkit-transform 300ms ease;
        -webkit-transition-delay: 0s;
        transition: transform 300ms ease 0s;
        height: 100%;
        width: 100%;
        position: relative;
    }
    #app.app-slide-off > .app-content {
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
        overflow: hidden;
        z-index: 2;
        position: absolute;
        -webkit-transform: translate3d(260px, 0, 0);
        transform: translate3d(260px, 0, 0);
        -moz-transition: -moz-transform 300ms ease 0s;
        -o-transition: -o-transform 300ms ease 0s;
        -webkit-transition: -webkit-transform 300ms ease;
        -webkit-transition-delay: 0s;
        transition: transform 300ms ease 0s;
    }
    #app.app-slide-off > #off-sidebar {
        -webkit-transform: translate3d(260px, 0, 0);
        transform: translate3d(260px, 0, 0);
        -moz-transition: -moz-transform 300ms ease 0s;
        -o-transition: -o-transform 300ms ease 0s;
        -webkit-transition: -webkit-transform 300ms ease;
        -webkit-transition-delay: 0s;
        transition: transform 300ms ease 0s;
    }
    #app.app-offsidebar-open > .app-content {
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
        overflow: hidden;
        z-index: 2;
        position: absolute;
        -webkit-transform: translate3d(-260px, 0, 0);
        transform: translate3d(-260px, 0, 0);
        -moz-transition: -moz-transform 300px ease 0s;
        -o-transition: -o-transform 300px ease 0s;
        -webkit-transition: -webkit-transform 300px ease;
        -webkit-transition-delay: 0s;
        transition: transform 300ms ease 0s;
    }
}

/* app-content-loading */
.app-content-loading {
    background: #000;
    border-radius: 10px;
    height: 100px;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100px;
    z-index: 1051;
}

/* loading spinner */
.loading-spinner {
    font-size: 50px;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    position: absolute;
    text-align: center;
    top: 50%;
}

.well {
    box-shadow: none;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a.focus {
    background-color: #007AFF;
    color: #fff;
}
.nav-pills > li > a {
    border-radius: 10px;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    background-color: #007AFF;
    border-color: #007AFF;
}

.container-fullw {
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #eee;
}
@media (max-width: 768px) {
    .container-fullw {
        padding-left: 15px;
        padding-left: 15px;
    }
}

/* Top Navbar */
.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1089;
    border: none;
    margin-bottom: 0;
    height: 65px;
}
.navbar .loading-bar-wrapper {
    position: absolute;
    bottom: 0;
    height: 3px;
    left: 0;
    right: 0;
    z-index: 999;
}
.navbar .navbar-header {
    z-index: 10;
    background: #ffffff;
    border-bottom: 1px solid #c8c7cc;
    position: relative;
    height: 65px;
}
@media (min-width: 768px) {
    .navbar .navbar-header {
        width: 260px;
    }
}
@media (min-width: 992px) {
    .navbar .navbar-header {
        border-right: 1px solid #c8c7cc
    }
}
.navbar .navbar-header a {
    line-height: 65px;
    height: 65px;
}
.navbar .navbar-header .navbar-brand {
    padding: 0 15px;
}
.navbar.navbar-header .navbar-brand img {
    display: inline-block;
    margin-top: -6px;
}
.navbar .navbar-header .menu-toggler {
    margin-right: 60px;
    padding: 0 15px;
    font-size: 17px;
    color: #c8c7cc;
}
.navbar .navbar-header .sidebar-togger:hover {
    color: #aeacb4;
}
.navbar .navbar-header .sidebar-mobile-toggler {
    font-size: 17px;
    padding-left: 15px;
    padding-right: 15px;
    color: #c8c7cc;
}
.navbar .navbar-header .sidebar-mobile-toggler:hover {
    color: #aeacb4;
}
.navbar .navbar-header .sidebar-mobile-toggler > i {
    position: relative;
    z-index: -1;
}
.navbar .navbar-collapse {
    border-bottom: 1px solid #c8c7cc;
    border-top: none;
    background: #ffffff;
    padding-left: 15px !important;
    padding-right: 15px !important;
    position: relative;
}
@media (min-width: 768px) {
    .navbar .navbar-collapse {
        margin-left: 260px;
        height: 65px !important;
    }
    .navbar .navbar-collapse .nav {
        height: auto !important;
    }
}
@media (max-width: 767px) {
    .navbar .navbar-collapse {
        padding-left: 0 !important;
        padding-right: 0 !important;
        overflow: hidden !important;
    }
    .navbar .navbar-collapse .nav {
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }
}
.navbar .navbar-collapse.in {
    overflow-y: visible;
}
@media (max-width: 991px) {
    .app-slide-off .navbar, .app-offsidebar-open .navbar {
        position: absolute !important;
    }
}
@media (min-width: 992px) {
    .app-navbar-fixed .navbar .navbar-collapse, .app-navbar-fixed .navbar navbar-header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        -webkit-transform: translateZ(0);
    }
    .app-navbar-closed .navbar .navbar-header {
        width: 70px;
    }
    .app-sidebar-closed .navbar .navbar-header .navbar-brand {
        display: none;
    }
    .app-sidebar-closed .navbar .navbar-header .sidebar-toggler {
        float: none !important;
        display: block;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .app-sidebar-closed .navbar .navbar-collapse {
        margin-left: 70px;
    }
}
@media (max-width: 991px) {
    .navbar {
        left: 0;
        margin: 0;
        position: fixed;
        right: 0;
        width: 100%;
        -webkit-transform: translateZ(0);
    }
}
@media (min-width: 992px) {
    .app-sidebar-fixed .navbar .navbar-header {
        position: fixed;
        top: 0;
    }
}
.navbar .close-handle {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ffffff;
    cursor: pointer;
    z-index: 1001;
    min-height: 40px;
}
.navbar .close-handle arrow-left, .navbar .close-handle .arrow-right {
    background-color: #c8c7cc;
    border-radius: 10px;
    bottom: 15px;
    height: 8px;
    left: 50%;
    position: absolute;
    -moz-transition: -moz-transform 0.2s ease 0s;
    -o-transition: -o-transform 02s ease 0s;
    -webkit-transition: -webkit-transform 0.2s ease;
    -webkit-transition-delay: 0s;
    width: 24px;
    margin-left: -12px;
    cursor: pointer;
}
.navbar .close-handle .arrow-right {
    -moz-transform: translate3d(-8px, 0px, 0px) rotate(-10deg);
    -ms-transform: translate3d(-8px, 0px, 0px) rotate(-10deg);
    -webkit-transform: translate3d(-8px, 0px, 0px) rotate(-10deg);
    transform: translate3d(-8px, 0px, 0px) rotate(-10deg);
}
.navbar .close-handle .arrow-right {
    -moz-transform: translate3d(8px, 0px, 0px) rotate(10deg);
    -ms-transform: translate3d(8px, 0px, 0px) rotate(10deg);
    -webkit-transform: translate3d(8px, 0px, 0px) rotate(10deg);
    transform: translate3d(8px, 0px, 0px) rotate(10deg);
}
.navbar .navbar-right .nav {
    margin: 0;
}
.navbar .navbar-right .nav .dropdown-light:after {
    right: 36 px;
    left: auto;
    top: -9px;
}
.navbar .navbar-right .nav .drapdown-light:before {
    right: 35px;
    left: auto;
    top: -11px;
}
.navbar .navbar-right .badge {
    background-color : #C82E29;
    color: #ffffff;
    padding: 4px 6px;
    position: absolute;
    top: 3px;
    font-size: 10px;
    left: 50%;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    right: auto;
    margin-left: 13px;
}
.navbar .navbar-right .dot-badge {
    border-radius: 100%;
    border-style: solid;
    border-width: 2px;
    height: 10px;
    margin: 2px;
    position: absolute !important;
    border-color: #ffffff;
    top: 6px;
    width: 10px;
    left: 50%;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    right: auto;
    margin-left: 10px;
}
.navbar .navbar-right .view-all {
    text-align: center;
}
.navbar .navbar-right .drop-down-wrapper ul {
    list-style:node;
    margin: 0;
    padding: 5px 5px 0 5px;
}
.navbar .dropdown-sidebar {
    position : absolute;
    z-index: 11;
    top: 0;
    right: 0;
    border-left: 1px solid #c8c7cc;
    width: 30px;
    background : #ffffff;
    line-height: 64px;
    color: #c8c7cc;
}
.navbar .dropdown-off-sidebar:after {
    position: absolute;
    font-size: 17px;
    padding: 0;
    margin: 0;
    font-family: 'themify';
    content: "\e6da";
    left: 5px;
    top: 0;
}
.app-offsidebar-open .navbar .dropdown-off-sidebar:after {
    content: "\e6d9";
}
@media (min-width: 992px) {
    .app-offsidebar-open .navbar .dropdown-off-sidebar {
        position: fixed;
    }
}
@media (max-width: 991px) {
    .navbar .dropdown-off-sidebar {
        width: 50px;
    }
    .navbar .dropdown-off-sidebar:after {
        left: 15px;
    }
}
@media (max-width: 992px) {
    .navbar .navbar-right {
        position: relative;
        margin: 1px 15px 0 0;
    }
}
@media (max-width: 991px) and (min-width: 767px) {
    .navbar .navbar-right {
        position: relative;
        margin: 1px 35px 0 0;
    }
}
@media (min-width: 767px) {
    .navbar .navbar-right > li {
        border-bottom: 1px solid #c8c7cc;
    }
    .navbar .navbar-right > li:last-child {
        margin-bottom: 40px;
    }
}
