* {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
img {
    max-width: 100%;
}
a {
    text-decoration: 0;
    outline: none;
    color: #444;
}
a:hover {
    color: #444;
}
ul {
    margin-bottom: 0;
    padding-left: 0;
}
a:hover,
a:focus,
input,
textarea {
    text-decoration: none;
    outline: none;
}
.center {
    text-align: center;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
.cp {
    cursor: pointer;
}
p {
    margin-bottom: 0px;
    width: 100%;
}
.no-padding {
    padding: 0px;
}
.no-margin {
    margin: 0px;
}
.hid {
    display: none;
}
.h-100 {
    height: 100%;
}
::placeholder {
    color: #747f8a !important;
    font-size: 13px;
    opacity: .5 !important;
}
.container-fluid {
    padding : 0px; 
}
h1, h2, h3, h4, h5, h6 {
    font-family: "mouse-500", Arial, Helvetica, sans-serif;
}
strong {
    font-family: "mouse-500", Arial, Helvetica, sans-serif;
}
body {
    background-color: #f7f7ff !important;
    font-family: "mouse-300", Arial, Helvetica, sans-serif;
    color: #6A6A6A;
}
.session-title {
    padding: 30px;
    margin: 0px;
}
.session-title h2 {
    width: 100%;
    text-align: center;
}
.session-title p {
    max-width: 850px;
    text-align: center;
    float: auto;
}
.session-title span{
    float: right;
    font-style: italic;
}
.inner-title {
    padding: 20px;
    padding-left: 0px;
    margin-bottom: 30px;
}
.inner-title h2 {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-family: "slab", Arial, Helvetica, sans-serif;
}
.inner-title {
    width: 100%;
    text-align: center;
}
.page nav {
    padding : 40px;
    text-align: center;
    padding-top: 160px;
}
.page nav ul {
    float: none;
    margin: auto;
}
.page-nav h1 {
    font-size: 36px;
    width: 100%;
    color: #44;
}
@media screen and(max-width: 600px) {
    .page-nav h2 {
        font-size: 26px;
    }
}
.page-nav ul li {
    float: left;
    margin-right: 10px;
    font-size: 16px;
}
.page-nav ul li i {
    width: 30px;
    text-align: center;
    color: 30px;
}
.page-nav ul li a {
    color: #444;
}
.btn-success {
    background: #00abaf;
    border-color: #00ab9f;
}
.bn-success:hover {
    background-color: #00ab9f !important;
    border-color: #00ab9f !important;
}
.btn-success:active {
    background-color: #00ab9f !important;
    border-color: #00ab9f !important;
}
.btn-success:focus {
    background-color: #00ab9f !important;
    border-color: #00ab9f !important;
    box-shadow: none !important;
}
.btn-info {
    background-color: #00a8df;
    border-color: #00afdf;
}
.btn-info:hover {
    background-color: #00a8df !important;
    border-color: #00a8df !important;
}
.btn-success:active {
    background-color: #0fab9f !important;
    border-color: #00a8df !important
}
.btn-success:focus {
    background-color: #00a8df !important;
    border-color: #00a8df !important;
    box-shadow: none !important;
}
.btn {
    box-shadow : 0 3px 1px -2px rgba(0, 0, 0, 0.2), 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border-radius: 2px;
}
.form-control:focus{
    box-shadoe: none !important;
    border: 2px solid #00abdf;
}
.btn-light {
    background-color: #FFF;
    color: #3F3F3F;
}
@media screen and(max-widht: 1199px) {
    .container {
        max-width: 100%
    }
}
.collapse.show {
    display: block !important;
}
.form-control {
    background-color: #F8F8F8;
    margin-bottom: 20px;
}
.form-control:focus {
    background-color: #FFF;
    border-color: #CCC;
}

/* Header CSS */
header {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0 ,0, 0, 0.12);
    position: relative;
    width: 100%;
    z-index: 999;
}
header .header-nav {
    background-color: #FFF;
    width: 100%;
}
header .header-nav .nav-item ul li {
    float: left;
    font-family: "mouse-500", Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 28px;
}
@media screen and(max-width: 998px) {
    header .header-nav .nav-item ul li {
        padding: 30px 18px;
    }
}
@media screen and(max-width: 767px) {
    header .header-nav nav-item ul li {
        float: none;
        padding: 14px;
        border-top: 1px solid #CCC;
    }
}
header .header-nav .nav-img img {
    width: 200px;
    padding: 0px;
    margin-top: 21px;
}
@media screen and(max-width: 1199px) {
    header .header-nav .nav-img img {
        margin-left: 10px;
    }
}
header .header-nav .nav-img img {
    margin-left: 10px;
}
header .scroll-to-fixed-fixed {
    background-color: #FFF;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.small-menu {
    float: right;
    color: #00ab9f;
    font-size: 32 px;
    margin-top: 17px;
    margin-right: 12px;
}
@media screen and(max-width: 767px) {
    .small-menu {
        margin-top: 11px;
    }
}

/* Slide Style CSS */
.slider-detail {
    padding-top: 0px;
}
.slider-detail .carousel-cover {
    background-color: rgba(0, 173, 162, 0.53);
    position: absolute;
    left: 0px;
    width: 40%;
    top: 50px;
    height: 100%;
    background-color: rgba(0, 173, 162, 0.53);
    position: absolute;
    left: -30%;
    width: 80%;
    top: -150px;
    height: 140px;
    transform: rotate(15deg);
}
@media screen and(max-width: 1086px) {
    .slider-detail .carousel-cover {
        transform: rotate(7deg);
        top: -100px;
    }
}
@media screen and(max-width: 999px) {
    .sldier-detail .carousel-over {
        display: none;
    }
}
.slider-detail .carousel-caption {
    text-align: left;
    top: 70px;
    left: 10px;
    max-width: 40%;
}
.slider-detail .carousel-caption h5  {
    font-size: 40px;
}
.slider-detail .carousel-caption p {
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.slider-detail .carousel-caption .vbh {
    margin: 0px;
}
@media screen and (max-width: 1090px) {
    .slider-detail .carousel-caption {
        top:30px;
    }
}
@media screen and(max-width: 1090px) {
    .slider-detail .carousel-caption {
        top:30px;
    }
    .slider-detail .carousel-caption h5 {
        font-size: 28px;
    }
    .slider-detail .carousel-caption p {
        font-size: 14px;
    }
}
@media screen and(max-width: 792px) {
    .slider-detail .carousel-caption p {
        margin-bottom: 10px;
    }
}
.slider-detail .carousel-indicators {
    left: -70px;
}
.slider-detail .btn-defailt {
    background-color: #FFF;
    color: #444;
    font-weight: 600;
}
@media screen and(max-width: 767px) {
    .slider-detail .btn-default {
        padding: 5px;
        font-size: 13px;
    }
}

/* Key Features CSS */
.key-features .kvxol {
    padding: 0px;
}
.key-features .single-key {
    background-color: #FFF;
    margin-bottom: 30px;
    text-align: center;
    padding: 30px;
}
.key-features .single-key i{
    background-color: #FFF;
    padding: 20px;
    font-size: 42px;
    color: #00ab9f;
    margin-bottom: 30px;
    border-radius: 50px
}
.key-features .single-key p {
    font-family: "mouse-300", Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.key-features .ky-1 {
    background-color: #03509e;
    color: #FFF;
    margin-bottom: 0px;
}
.key-features .kv-2 {
    background-color: #0085bc;
    color: #FFF;
    margin-bottom: 0px;
}
.department {
    padding: 80px 50px;
    background-color: #FFF;
}
@media screen and(max-width: 940px) {
    .department {
        padding: 50px 10px;
    }
}
/* Our Blog CSS */
.out-blog {
    padding: 80px 550px;
    background-color: #FAFAFA;
    padding-bottom: 100px;   
}
@media screen and(max-width: 940px) {
    .our-blog {
        padding: 50px 10px;
    }
}
@media screen and(max-width: 600px) {
    .out-blog {
        padding: 20px 10px;
    }
    .our-blog .blog-cont {
        padding: 0px;
    }
    .our-blog .blog-smk {
        padding: 0px;
    }
}
.our-blog .blog-cont {
    float: none;
    margin: auto;
}
.out-blog .blog-single .figure {
    margin-bottom: 0px;
}
.out-blog .blog-single-det {
    margin: auto;
    padding: 28px;
    z-index: 99;
    box-shadow: 0 2px 6px 0 rgba(218, 218, 253, 0.65), 0  2px 6px 0 rgba(206, 206, 238, 0.54);
    width: 90%;
    position: relative;
    margin-top: -80px;
    background-color: #FFF;
}
.our-blog .blog-single-det .btn {
    margin-top: 10px;
    margin-bottom: 10px;
}
.our-blog .blog-single-det span {
    font-size: 13px;
    color: #b5316a;
}
our-blog .blog-single-det h6 {
    font-size: 1.3rem;
}
.our-blog .blog-single-det p {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1rem;
}

/* Contact US CSS */
.contact-root {
    padding: 80px 50px;
    background-color: #FFF;
}
@media screen and(max-width: 940px) {
    .gallery {
        padding: 50px 10px;
    }
}
.gallery-title {
    font-size: 36px;
    color: #00ab9f;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    width: 7.5px;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #00ab9f;
}
.filter-button {
    font-size: 18px;
    border: 1px solid #00ab9f;
    border-radius: 5px;
    text-align: conter;
    color: #00ab9f;
    margin: #00ab9f;
    margin-bottom: 30px;
}
.filter-button:hover {
    font-size: 18px;
    border: 1px solid #00ab9f;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #00ab9f;
}
.btn-default:active .filter-button:active {
    background-color: #00ab9f;
    color: white;
}
.port-image {
    width: 100%;
}
.gallery_product {
    margin-bottom: 30px;
}
/* Footer CSS */
.footer {
    padding: 80px 50px;
    padding: 30px;
    padding-bottom: 0px;
    background-color: #444;
    color: #FFF;
}
@media screen and(max-width: 940px) {
    .footer {
        padding: 50px 10px;
    }
}
.footer h2 {
    font-size: 26px;
    margin-top: 10px;
}
.footer h2 {
    font-size: 26px;
    margin-top: 10px;
}
.footer p {
    text-align: justify;
    text-indent: 20px;
}
.footer .link-list li {
    padding: 10px;
    border-bottom: 1px solid #6C6C6C;
}
.footer .link-list li a {
    color: #FFF;
}
.footer .link-list li i{
    float: right;
}
.footer .map-img {
    font-weitht : 600;
    font-size: 17px;
    padding-left: 20px;
}
.footer address a {
    color: #FFF;
}
.copy {
    padding: 20px;
    background-color: #2E2E2E;
    color: #FFF;
}
.copy a {
    color: #FFF;
}
.copy span {
    float: right;
}
.copy span i {
    margin-right: 20px;
}
.kf-2 {
    background-color: #FCFCFC;
    padding: 80px 50px;
}
@media screen and(max:width: 940) {
    .kf-2 {
        padding: 50px 10px;
    }
}
.kf-2 .single-key {
    box-shadow: 0 2px 3px 0 rgba(218, 218, 253, 0.35), 0 0px 3px 0 rgba(206, 206, 238, 0.35);
}